// Content Block Spacing Variables
//$content-margin:				0.625rem !default;
$content-margin:				0 !default;
$content-padding:				.9rem !default;

// Border Radius
$core-border-radius:			rem(3) !default;

// Padding
$section-padding:			0rem;

// Offcanvas
$offcanvas-width:			17rem !default;